body {
  margin: 25px;
  background-color: lightpink;
}
/* I actually hate CSS with a passion. Please release me from this hell */
.card {
  border: 1px solid black;
  background-color: white;
  margin: 10px;
  display: flex;
  height: 200px;
  width: 350px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.parentcard {
  position: relative;
}

.parentcard > div:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
}

.row {
  display: flex;
  align-content: space-around;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  margin-top: 100px;
}

#title {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.edit {
  display: flex;
  align-self: flex-end;
  margin: 5px;
}

.delete {
  display: flex;
  align-self: flex-end;
  margin: 5px;
}